[
   {
    "enabled": true,
    "nome": "ravenabot",
    "numero": "559912345678",
    "ignorePV": false,
    "ignoreInvites": false,
    "customPrefix": "!",
    "webhookPort": 3450,
    "useWebsocket": true
   }
]